.nav-bar {
    width: 150px;
    height: 200px;
    background-color: #77868c;
    position: fixed;
    top: 150px;
    left: 20px;
    border-radius: 20px;
    padding: 20px;
}

.nav-bar span{
    color: white;
}

.content {
    margin: 50px 20px 0 240px;
    padding: 20px;
    background-color: #77868c;
    border-radius: 20px;
}

.work a:not(:last-child) .work-item{
    border-bottom: 1px solid black;
}

.work-item span:not(:last-child) {
    margin-right: 10px;
}

.work-item span,
.work-item h4 {
    color: black;
}

.modal-add-theme {
    width: 500px;
}

.modal-add-theme input {
    width: 100%;
}

.modal-add-theme textarea {
    width: 100%;
    height: 100px;
}

.items-workid {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.items-workid:not(:last-child){
    border-bottom: 1px solid black;
}

.btn-add-theme {
    margin-top: 10px;
}